/**
 * @file  : 样例
 * @author: Chic
 * @update: 2/21/2016
 */
@charset "UTF-8";
@import "core/reset";
@import "core/function";

html {
    background-color: #ee0a3b;
}

div.item-section {
    &.i-s-header {
        text-align: center;

        img {
            width: 750px;
        }
    }

    ul.i-s-list {
        padding: 10px;

        li.flag {
            display: table;
            width: 100%;
            margin-bottom: 1px; /*no*/
            background-color: #fff;

            .flag-item {
                display: table-cell;
                padding: 10px 0;
            }
        }
    }
}
