/*===== 清除默认的margin, padding的属性值 =====*/
html,
body,
div,
section,
iframe,
object,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
q,
a,
span,
abbr,
b,
strong,
em,
i,
time,
mark,
del,
dfn,
ins,
kbd,
form,
input,
textarea,
button,
label,
fieldset,
details,
output,
figcaption,
figure,
header,
nav,
footer,
article,
aside,
details,
summary,
meter,
progress,
canvas,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
article,
aside,
footer,
header,
nav,
section,
figure,
figcaption,
details {
  display: block;
}
ul,
ol {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
img {
  vertical-align: middle;
}
a img,
iframe,
button {
  border: 0 none;
}
input,
textarea,
select {
  outline: none;
}
textarea {
  resize: none;
}
i,
em,
dfn,
ins {
  font-style: normal;
  text-decoration: none;
}
mark {
  background-color: transparent;
}
p {
  word-wrap: break-word;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.clear {
  clear: both;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  overflow: hidden;
}
.clearfix {
  zoom: 1;
}
.none {
  display: none;
}
.hidden {
  visibility: hidden;
}
.inline-block {
  display: inline-block;
}
.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}
.t-left {
  text-align: left;
}
.middle {
  vertical-align: middle;
}
.hand {
  cursor: pointer;
}
input[type=submit],
input[type=button],
input[type=text],
textarea,
button,
select {
  -webkit-appearance: none;
}
::selection {
  background-color: #c00;
  color: #fff;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #c00 !important;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #c00 !important;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #c00 !important;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #c00 !important;
}
body,
input,
button,
select,
textarea,
pre {
  font: normal 14px/1.5 Arial, STHeiti, Microsoft YaHei, simsun, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  font-weight: normal;
}
/* 设置字体大小 */
